* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #fff;
    background-color: #242424;
    font-size: 62.5%;
}

h1 {
    font-size: 1.7rem;
}

p {
    font-size: 1.1rem;
}

#container {
    text-align: center;
    margin: 40px auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(167, 167, 167, 0.295);
    max-width: 320px;
    padding: 20px;
    overflow-wrap: break-word;
    transition: all .3s;
}

#container:hover {
    transform: scale(1.01);
    box-shadow: 0 0 30px rgb(167, 167, 167);
}

#titulo {
    margin-bottom: 5px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    text-align: center;
    width: 130px;
    padding: 10px;
    margin: 5px 0px 15px 0px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: bolder;
}

input::placeholder {
    color: #fff;
    font-weight: bold;
}

input#duracao::placeholder,
#duracao {
    color: #000;
}

#homens {
    background-color: rgb(60, 117, 241);
}

#mulheres {
    background-color: rgb(219, 125, 219);
}

#criancas {
    background-color: rgb(139, 202, 87);
}

button {
    background-color: #4b4b4b;
    color: #fff;
    margin-top: 8px;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.6s;
}

button:hover {
    transform: scale(1.04);
}

#resultado {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#resultado p {
    font-weight: bold;
    padding: 18px 0 4px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.267);
}

#resultado p:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.267);
    border-radius: 4px;
}

@media screen and (max-width: 305px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 130px;
        padding: 10px;
    }
}